* {padding: 0;margin: 0;border: 0;}
*, *:before, :after {-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: inherit;}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/RobotoCondensed-Regular.ttf');
}


body{
    background-color: #101010;
    color: #F0F0F0;
    overflow-x: hidden;    
    font-family: 'Roboto Condensed';
    cursor: url('../assets/cursor.png'), default;
}

.container{
    width: 1440px;
    margin: 0 auto;

}

header h1{
    font-weight: 400;
    font-size: 144px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-top: 50px;
}

.title{
    font-weight: 400;
    font-size: 48px;
    line-height: 116%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin: 120px 0 36px 0;
    opacity: 0.6;
}

.links__item a{
    font-weight: 400;
    font-size: 96px;
    line-height: 116%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #F0F0F0;
    transition: .5s;
    cursor: url('../assets/cursor_act.png'), pointer;
}

.links__item a:hover{
    opacity: .6;
    transition: .5s;
}

.about{
    padding-bottom: 120px;
}

.about__text{
    font-weight: 400;
    font-size: 96px;
    line-height: 116%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

@media (max-width:1440px) {
    .container{width: 1024px;}
    header h1{font-size: 96px;}
    .title{
        font-size: 30px;
        margin: 96px 0 24px 0;
    }
    .links__item a{font-size: 72px;}
    .about{padding-bottom: 96px;}
    .about__text{font-size: 72px}
}

@media (max-width:1024px) {
    .container{width: 360px;}
    header h1{
        font-size: 46px;
        margin-top: 36px;
    }
    .title{
        font-size: 16px;
        margin: 48px 0 12px 0;
    }
    .links__item a{font-size: 24px;}
    .about{padding-bottom: 48px;}
    .about__text{font-size: 24px}
}